<table>
    <tr>
        <td valign="middle" class="ticket-actual">
            <span id="lblTicket1" class="ticket-actual-numero">Ticket {{ (tickets.length > 0 ) ? tickets[0].numero : '' }}</span>
            <br>
            <span id="lblEscritorio1" class="ticket-actual-escritorio">Escritorio {{ (tickets.length > 0 ) ? tickets[0].escritorio : '' }}</span>
        </td>
        <td>
            <table>
                <ng-container *ngFor="let ticket of tickets; let i = index">
                    <tr *ngIf="i != 0">
                        <td>
                            <span id="lblTicket2" class="ticket-secundario">Ticket {{ ticket.numero }}</span>
                            <br>
                            <span id="lblEscritorio2">Escritorio {{ ticket.escritorio }}</span>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </td>
    </tr>
</table>